{
  "require": [
    "babel-register"
  ],
  "include": [
    "server/**/*.js"
  ],
  "exclude": [
    "**/tests/",
    "**/seeders/",
    "**/migrations/"
  ],
  "all": true,
  "reporter": [
    "html",
    "text",
    "lcov"
  ],
  "sourceMap": false,
  "instrument": true,
  "check-coverage": true
}
